.additional-products__promotion {
  background-image: url("../img/additional-promotion.jpg");
  width: 280px;
  height: 289px;
}

.additional-products__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
