.additional-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 98px;
  padding: 13px 0 18px 0;
  border-bottom: 1px solid $border-example;

  &:first-child {
    border-top: 1px solid $border-example;
  }
}

.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-grey;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.additional-product__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.additional-product__term,
.additional-product__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special-grey;
}

.additional-product__description {
  margin: 0;
}

.additional-product__button {
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .additional-product {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid $border-example;
    border-left: 1px solid $border-example;
    border-right: 1px solid $border-example;
    padding: 25px 37px 27.5px 37px;
    min-height: auto;
  }

  .additional-product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__term,
  .additional-product__description {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-product__list,
  .additional-product__title {
    width: 315px;
  }

  .additional-product__list {
    justify-content: flex-end;
  }

  .additional-product__description {
    margin-left: 46px;
  }

  .additional-product__button {
    height: 38px;
    width: 100%;
    margin-top: 27px;
  }
}


@media (min-width: $desktop-width) {
  .additional-product {
    border-left: none;
    border-right: none;
    padding: 15px 0 16px 0;
    align-items: center;
  }

  .additional-product__button {
    width: 244px;
    height: 40px;
    margin: 0 0 0 38px;
  }

  .additional-product__list,
  .additional-product__title {
    height: 20px;
  }

  .additional-product__list {
    width: 288px;
    justify-content: space-between;
  }

  .additional-product__title {
    width: 325px;
  }
}
