.additional-products__wrapper {
  margin: 0 auto;
  width: 280px;
}

.additional-products__container {
  display: flex;
  flex-direction: column;
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.additional-products__promotion {
  background-image: url("../img/additional-promotion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 289px;
  text-align: center;
}

.additional-products__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}

@media (min-width: $tablet-width) {
  .additional-products__wrapper {
    width: 708px;
  }
}


@media (min-width: $desktop-width) {
  .additional-products__wrapper {
    width: 1220px;
  }

  .additional-products__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .additional-products__list {
    width: 895px;
    height: 290px;
  }

  .additional-products__promotion {
    width: 245px;
  }
}
