.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-grey;
}

.advantages__wrapper {
  width: 279px;
  margin: 0 auto;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  display: flex;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    width: 708px;
  }

  .advantages__list {
    flex-direction: row;
  }

  .advantages__item {
    flex-direction: column;
    width: 324px;
    height: 280px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: 1220px;
  }

  .advantages__item {
    width: 250px;
  }
}
