.button {
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
}

.button_promo_link {
  font-size: 14px;
  line-height: 18px;
}

.button_product-list {
  background-color: $special-background-grey;
  color: $special-grey;
}
