.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
}

.contacts__dealers {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-111;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $special-grey;
}


@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 625px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 418px;
  }
}
