.example {
  background-color: $example-background-grey;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-grey;
}

.example__information {
  display: flex;
  flex-direction: column;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $special-grey;
  text-transform: lowercase;
}

.example__costs {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

.example__it-became {
  display: flex;
}

.example__it,
.example__became {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;
  }

  .example__wrapper {
    width: 708px;
  }

  .example__information {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: $example-background-grey;
  }

  .example__wrapper {
    width: 1220px;
  }

  .example__information {
    flex-direction: column;
  }

  .example__photo-change {
    align-self: flex-end;
  }
}
