.input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid $border-input;
  height: 45px;
  outline: none;

  &:hover {
    border: 1px solid $border-example;
  }

  &:focus {
    border: 2px solid $special-grey;
  }

  &--invalid {
    border: 2px solid $input-error;
  }

  &::placeholder {
    color: $special-grey;
  }
}

.input--number {
  padding-left: 14px;

  &:focus,
  &--invalid {
    padding-left: 13px;
  }
}

.input--text {
  padding-left: 14px;

  &:focus,
  &--invalid {
    padding-left: 13px;
  }
}

@media (min-width: $tablet-width) {
  .input {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }

  .input--text {
    padding-left: 18px;

    &:focus,
    &--invalid {
      padding-left: 17px;
    }
  }

  .input--number {
    padding-left: 18px;

    &:focus,
    &--invalid {
      padding-left: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .input--text {
    padding-left: 20px;

    &:focus,
    &--invalid {
      padding-left: 19px;
    }
  }

  .input--number {
    padding-left: 18px;

    &:focus,
    &:--invalid {
      padding-left: 17px;
    }
  }
}
