.label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.label--input {
  color: $special-grey;
}

.label--radio {
  color: $special-dark-grey;
}

.label--checkbox {
  color: $black;
}
