.label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.label_input {
  color: $special-grey;
}

.label_radio {
  color: $special-dark-grey;
}

.label_checkbox {
  color: $black;
}
