.page-main__title {
  margin: 0 auto;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    width: 1220px;
  }
}
