.page-header__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-header__image-and-logo {
  display: flex;
}


@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: 708px;
  }

  .page-header__image-and-logo {
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 1220px;
  }

  .page-header__image-and-logo {
    width: 202px;
  }
}
