.product-list__more-products__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black-111;
  text-transform: uppercase;
}

.product-list__more-products__text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: $special-grey;
}
