.promo {
  color: $white;
  margin-bottom: 22px;
}

.promo__container {
  position: relative;
  background-image: url("../img/promo-container-background.jpg");
  background-repeat: no-repeat;
  background-color: $promo-container-green;
  background-size: cover;
  background-position: center;
  height: 302px;
  margin-bottom: 137px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-container-background@2x.jpg");
  }

  &::after {
    content: "";
    width: 100%;
    height: 300px;
    display: block;
    background-image: url("../img/promo-image.png");
    background-repeat: no-repeat;
    background-size: 280px 270px;
    background-position: 50% 28px;
    z-index: 2;
    top: 50px;
    left: 50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-image@2x.png");
    }
  }
}

.promo__title,
.promo__text {
  min-width: 320px;
  text-align: center;
  margin: 0;
  z-index: 3;
}

.promo__title {
  color: $white;
  padding-top: 27px;
  padding-bottom: 25px;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__wrapper {
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.promo__link {
  vertical-align: middle;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 0;
  }

  .promo__title {
    text-align: left;
    color: $black;
    font-size: 60px;
    line-height: 60px;
    padding-top: 28px;
    padding-bottom: 41px;
  }

  .promo__text {
    text-align: left;
    color: $black;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__title,
  .promo__text {
    margin-left: 117px;
  }

  .promo__wrapper {
    min-width: 708px;
  }

  .promo__container {
    background-color: inherit;
    background-image: none;
    z-index: -1;
    margin-bottom: 0;
    min-height: 180px;
    height: auto;

    &::after {
      height: 639px;
      background-size: 709px 609px;
      background-image: url("../img/promo-image-tablet.png");
      background-position: 29px 19px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-image-tablet@2x.png");
      }
    }
  }

  .promo__link {
    position: relative;
    top: -591px;
    width: 244px;
    margin-left: 112px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    z-index: 0;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/promo-container-background-desktop.jpg");
      background-size: cover;
      background-color: $promo-container-green;
      background-repeat: no-repeat;
      background-position: 0 center;
      width: 50%;
      height: 694px;
      right: 0;
      top: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-container-background-desktop@2x.jpg");
      }
    }
  }

  .promo__wrapper {
    width: 1060px;
    margin: 0 auto;
    margin-bottom: 318px;
  }

  .promo__container {
    margin-top: -52px;
    z-index: 0;


    &::after {
      position: absolute;
      height: 529px;
      background-size: 552px 499px;
      background-image: url("../img/promo-image-desktop.png");
      background-position: 320px 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-image-desktop@2x.png");
      }
    }
  }

  .promo__link,
  .promo__title,
  .promo__text {
    margin-left: 0;
  }

  .promo__title {
    padding-top: 133px;
    padding-bottom: 40px;
  }

  .promo__link {
    top: 52px;
    z-index: 2;
  }
}
