.promo {
  color: $white;
}

.promo__container {
  background-image: url("../img/promo-container-background.jpg");
  background-color: $promo-container-green;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 302px;
}

.promo__title,
.promo__text {
  text-align: center;
}

.promo__title {
  color: $white;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .promo__title {
    text-align: left;
  }

  .promo__text {
    text-align: left;
  }

  .promo__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: 1060px;
  }
}
