.range-controls {
  position: relative;
  background-color: $white;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  border: 1px solid $border-example;
  border-radius: 6px;
  margin: 0 18px 2px 17px;
}

.range-controls__scale {
  width: 72px;
  margin: 3px 6px;
}

.range-controls__bar {
  width: 50%;
  height: 6px;
  background-color: $green;
  border-radius: 6px;
  cursor: pointer;
}

.range-controls__bar--it {
  width: 5%;
}

.range-controls__bar--became {
  width: 99%;
}

@media (min-width: $tablet-width) {
  .range-controls {
    position: relative;
    width: 428px;
    border: none;
    margin: 0 19.5px 0 24px;
    border-radius: 0;
    background-color: $example-background-grey;
  }

  .range-controls__scale {
    margin: 5px 0;
    width: 428px;
  }

  .range-controls__bar {
    width: 100%;
    background-color: #dcdcdc;
    cursor: default;
  }
}

@media (min-width: $desktop-width) {
  .range-controls {
    background-color: $special-background-grey;
  }
}
