.range-controls {
  position: relative;
  background-color: $white;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  border: 1px solid $border-example;
  border-radius: 6px;
  margin: 0 16px 0 17px;
}

.range-controls__scale {
  width: 72px;
  margin: 3px 6px;
}

.range-controls__bar {
  width: 50%;
  height: 6px;
  background-color: $green;
  border-radius: 6px;
  cursor: pointer;
}

.range-controls__bar--it {
  width: 5%;
}

.range-controls__bar--became {
  width: 99%;
}

.range-controls__toggle {
  display: none;
  cursor: pointer;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .range-controls {
    position: relative;
    width: 428px;
    border: none;
    margin: 0 19.5px 0 24px;
    border-radius: 0;
    background-color: $example-background-grey;
  }

  .range-controls__scale {
    margin: 5px 0;
    width: 428px;
  }

  .range-controls__bar {
    width: 100%;
    background-color: #dcdcdc;
    cursor: default;
  }

  .range-controls__toggle {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    background-image: url("../img/range-toggle.svg");
    background-size: cover;
    top: 0.6px;

    &:hover {
      background-image: url("../img/range-toggle-hover.svg");
      top: 0.7px;
    }

    &:active {
      background-image: url("../img/range-toggle-active.svg");
      top: 1.1px;
    }
  }

  .range-controls__toggle--it {
    left: 63px;
  }

  .range-controls__toggle--became {
    right: 63px;
  }
}

@media (min-width: $desktop-width) {
  .range-controls {
    background-color: $special-background-grey;
  }
}
