.site-list__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}

.site-list {
  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}
