.special-offers__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.special-offers__item {
  background-color: $special-background-grey;
  width: 280px;
  height: 266px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 372px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 374px;
  }
}

.special-offers__title {
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;
  font-weight: 400;
}

.special-offers__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-grey;
}

.special-offers__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
}

.special-offers__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .special-offers__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .special-offers__wrapper {
    width: 1220px;
  }
}
