.title {
  color: $black;
  font-weight: 400;
}

.title--size-main {
  font-size: 36px;
  line-height: 36px;
}

.title--size-index {
  font-size: 36px;
  line-height: 40px;
}

.title--size-form {
  font-size: 24px;
  line-height: 26px;
}

.title--size-additional {
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .title--size-index {
    font-size: 60px;
    line-height: 60px;
  }

  .title--size-main {
    font-size: 60px;
    line-height: 60px;
  }

  .title--size-form {
    font-size: 36px;
    line-height: 36px;
  }
}
