// Colors

$promo-container-green: rgba(104, 183, 56, 0.85);
$white: #ffffff;
$green: #68b738;
$black: #000000;
$black-111: #111111;
$special-background-grey: #f2f2f2;
$special-grey: #444444;
$example-background-grey: #eaeaea;
