// Colors

$promo-container-green: rgba(104, 183, 56, 0.85);
$white: #FFFFFF;
$green: #68B738;
$black: #000000;
$black-111: #111111;
$special-background-grey: #F2F2F2;
$special-grey: #444444;
$example-background-grey: #EAEAEA;
